* {
    margin: 0;
    border: 0;
}

#outer {
    height: 25px;
    border-bottom: 2px solid;
    white-space: nowrap;
    overflow: hidden;
}

#headlines {
    position: relative;
    left: 90%;
    top: 3px;
}

#headlines a {
    padding-right: 30px;
}

#headlines a:hover {
    color: tomato;
    font-weight: bold;
}
